body {
  margin: 0;
  padding: 0;
  background-image: url('../../assets/assets/Homepage assets/retroWallpaper2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  background-size: cover;
}

.navbar {
  width: 200px;
  height: 100vh;
  color: white;
  padding-top: 0px;
  position: fixed;
  z-index: 2;
  background-image: linear-gradient(rgb(167, 2, 167), rgb(56, 2, 96));
}

.navbar h2 {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 0; /* Remove margin to align with top of the page */
  padding: 30% 15px; /* Add padding for better readability */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Include padding in width calculation */
}

.navbar a {
  text-decoration: none;
  font-size: 12 em;
  color: white;
  display: inline-block;
  padding-left: 5px;
  padding-top: 26%;
  padding-bottom: 26%;
  padding-right: 80%;
  transition: 0.3s;
  overflow: hidden;
}

.navbar a:hover {
  background-color: rgb(56, 2, 96);
  width:auto;
}

.navbar a.active {
  background-color: #00d4d5;
  color: white;
}

.content {
  display: flex;
  flex-direction: column; /* Align items in a column */
  margin-left: 200px; /* Adjust according to the width of the navbar */
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 15px 0; /* Reduced padding */
  position: fixed;
  width: 100%;
  left: 10%;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to right, rgb(167, 2, 167), rgb(56, 2, 96));

}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
  margin-bottom: 10px;
  color:white;
}



.hero p {
  font-size: 1.5em;
  color: white;
}


.chart-container, .bar-chart-container {
  width: 80%; /* Set the width of the chart container */
  max-width: 1200px; /* Optionally set a maximum width */
  padding: 20px; /* Add some padding */
  background-color: #fff; /* Set a background color */
  border-radius: 10px; /* Add some border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow */
  margin: 200 auto; /* Center the chart container horizontally */
}