<header>
    <img src="../../assets/assets/Homepage assets/retro_Money__1_RemovebgPreview.png" alt="Retro Bills Logo">
    <button (click)="OnHomeClicked()">Home</button>
    <button (click)="OnAboutClicked">About</button>
    <button (click)="OnContactClicked">Contact Us</button>
    <button (click)="OnSignUpClick()">Sign Up</button>
    <button (click)="OnLoginClick()">Login</button>
</header>
<div class="content">
    <div class="box">
        <h2>It's who we are</h2>
        <p>This is the content of the home page</p>
    </div>
</div>
<footer>
    <img src="/src/assets/assets/Homepage assets/retro_Money__1_RemovebgPreview.png" alt="">
</footer>