<header>
  <div class="bannerFrame">
    <div class="retroBills">Retro Bills</div>
  </div>
</header>


<body>
  <div class="box">
    <span *ngIf="invalidCreate" class="error">Please name the account!</span>
    <form [formGroup]="accountForm" (ngSubmit)="onCreateAccount()">  
      <div class="box-title">Name the account</div> 
      
      <div class="radio-group">
        <input type="text" formControlName="accountName" placeholder="Account Name"/>
      </div>

      <button type="submit" class="submit-btn">Create Account</button>
      <button type="button" (click)="onCancelClick()" class="submit-btn">Cancel Account Creation</button>
    </form>
  </div>
</body>



