<header>
  <div class="bannerFrame">
    <div class="retroBills">Retro Bills</div>
  </div>
</header>

<div class="content">
  <form>
    <h1>Forgot your password?</h1>
    <p>Don't worry! Enter the email address you used during registration and we will send you instructions to reset your password</p>
    <label>Email: </label><br>
    <input type="email" placeholder="email@domain.com"/>
    <button type="submit">Send Reset Instructions</button><br>
    <a [routerLink]="'/login'">Return to login</a>
  </form>
</div>
