.hero {
  text-align: center;
  padding: 0px 0; /* Reduced padding */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to right, rgb(167, 2, 167), rgb(56, 2, 96));

}

.hero h1 {
  font-size: 3em;
  color:white;
}


.remain{
  font-size: 3em;
  padding-top: -60px;
}
.hero p {
  font-size: 1.5em;
  padding-bottom: 15px;
  color: white;
}

body {
  background-image: url('../../assets/assets/Homepage assets/retroWallpaper2.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
}


.navbar {
  width: 200px;
  height: 100vh;
  color: white;
  padding-top: 20px;
  position: fixed;
  z-index: 2;
  background-image: linear-gradient(rgb(167, 2, 167), rgb(56, 2, 96));
}

.navbar h2 {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 0; /* Remove margin to align with top of the page */
  padding: 25% 15px; /* Add padding for better readability */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Include padding in width calculation */
}

.navbar a {
  text-decoration: none;
  font-size: 12 em;
  color: white;
  display: inline-block;
  padding-left: 5px;
  padding-top: 26%;
  padding-bottom: 26%;
  padding-right: 80%;
  transition: 0.3s;
  overflow: hidden;
}

.navbar a:hover {
  background-color: rgb(56, 2, 96);
  width:auto;
  cursor: pointer;
}

.navbar a.active {
  background-color: #00d4d5;
  color: white;
}


.table-container {
 
  padding-top: 5px;
  width: 40%; /* Adjust the width if needed */
  max-width: none; /* Remove the maximum width restriction */
  margin: 0 auto;
  margin-top:20%; /* Move the table down */
  margin-left: 15.5%; /* Move the table to the right */
 /* background-color: white;*/
  
}
/*sets the color and background color of error messages*/
span{
  color:white;
  background-color: hsla(293, 59%, 42%, 1);
}
/*possitions no budget error message*/
.error{
  position: relative;
  display:flex;

  font-size: 12pt;
  margin-top: 60px; /* moves it down */
  margin-left:200px;/* moves it right*/
  padding:5px;
  height:auto;
  width:fit-content;
  

  
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 200vh; /* Set the minimum width for the columns */
  min-width: 63.8vh;
}

th, td {
  background-color: #f2f2f2;
  width: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}


