
<body>
    <header>
        <div id="bar">
            <img src="\assets\image.png" alt="logo">
            <nav>
            <ul>
                <li> <button (click)="OnHomeClick()" class="link"> sign out </button></li>
            <li> <button (click)="OnDashClick()" class="link">  dashboard </button></li>
            
            </ul>
            </nav>
        </div>
    
    </header>
    <div id="options">
        <h2>BUDGET</h2>
        <nav>
            <ul>
                <li><button class="menu"> <span>Reports</span> </button></li>
                <li><button class="menu"> <span>accounts</span></button></li>
                <li><button class="menu"> <span>budget</span> </button></li>
                <li><button class="menu"> <span>Tracking</span> </button></li>
                <li><button class="menu"> <span>Closed</span></button></li>
            </ul>
        </nav>
    </div>
    <div>
        <table>
            <thead>
              <tr>
                <th>Category</th>
                <th>Budgeted</th>
                <th>Activity</th>
                <th>available</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>item</td>
                <td>item</td>
                <td>item</td>
                <td> item </td>
              </tr>
            </tbody>
            </table>
    </div>
</body>
