

<header>
  <img src="../../assets/assets/Homepage assets/retro_Money__1_RemovebgPreview.png" alt="Retro Bills Logo" />
  <button class="link-button"(click)="OnHomeClicked()">Home</button>
  <button class="link-button" (click)="OnAboutClicked()">About
  </button>
  <button class="link-button" (click)="OnContactClicked()">Contact Us
  </button>
  <button class="link-button" (click)="OnSignUpClick()">Sign Up
  </button>
  <button class="link-button" (click)="OnLoginClick()">Login
  </button>
</header>
<router-outlet></router-outlet>