<header>
    <!-- Desktop -->
    <img class="Logo" src="../../assets/assets/Homepage assets/retro_Money__1_RemovebgPreview.png" alt="Retro Bills Logo" />

    <button class="link-button"(click)="OnHomeClicked()">Home</button>
    <button class="link-button" (click)="OnAboutClicked()">About
    </button>
    <button class="link-button" (click)="OnContactClicked()">Contact Us
    </button>
    <button class="link-button" (click)="OnSignUpClick()">Sign Up
    </button>
    <button class="link-button" (click)="OnLoginClick()">Login
    </button>
    
    <!-- Mobile -->
    <!-- <div class="mobile-nav"> 
        <div class="hamburger-menu" (click)="toggleNav()">
            <i class="fas fa-bars"></i> 
        </div>
    </div> 
    <nav [class.open]="navIsVisible"> 
        <button class="link-button"(click)="OnHomeClicked()">Home</button>
    </nav> -->
</header>

<body>
    <router-outlet></router-outlet>
</body>