body {
  background-image: url('../../assets/assets/Homepage assets/retroWallpaper2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}


header {
  position: relative;
  width: 100%;
  height: 130px;
  overflow: hidden;
  background-image: linear-gradient(90deg, #9e2cacff 11%, #3b2685ff 78%);
  background-size: auto;
  display: flex;
  text-align: center;
  color: white;
  justify-content: space-evenly;
  padding: auto;
  margin: auto;
  box-shadow: 0px 10px 10px 0px #00000080;
}
.link-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
  outline: none;
  color: white;
}

.transaction-list {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

