<header>
  <img src="../../assets/assets/Homepage assets/retro_Money__1_RemovebgPreview.png" alt="Retro Bills Logo"/>
  <button class="link-button"(click)="OnDashClick()">Dashboard</button>
  <button class="link-button" (click)="OnDetailedClick()">Detailed Transaction Report
  </button>
  <button class="link-button" (click)="OnBudgetClick()">Budget</button>
  <button class="link-button"(click)="OnHomeClick()">Log Out</button>
</header>

<body>
  <div class="transaction-list">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2024-04-15</td>
          <td>Payment received</td>
          <td>$500.00</td>
        </tr>
        <tr>
          <td>2024-04-14</td>
          <td>Online purchase</td>
          <td>-$50.00</td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
</body>

