<header>
  <div class="bannerFrame">
    <a href="home">
      <div class="retroBills">Retro Bills</div>
    </a>
  </div>
</header>

<body>
  <div class="content">
    <div class="blurForBackground">
      <div class="retroLoginLogo"></div>
      <div class="achieveYourDesiredLifestyleWit">
       Achieve your desired lifestyle with Retro Bills, a money management method designed to reduce financial stress.
      </div>
      <a href="signup">
        <div class="achieveYourDesiredLifestyleWitT">Signup Here</div>
      </a>

    </div>
    <div class="rectangleBox">
      <div class="loginTitle">Login</div>
      <span class="error" *ngIf="emptyForm">Please fill out all fields</span>
      <span class="error" *ngIf="invalidLogin">An incorrect email or password was entered</span>
      <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
        <div class="emailAddress">Email address</div>
        <div class="emailForm">
          <input type="email" class="form-control" formControlName="email" placeholder="" aria-label="Email" aria-describedby="basic-addon1">
        </div>
        <div class="password">Password</div>
        <div class="passwordForm">
          <input type="password" class="form-control" formControlName="password" placeholder="" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div class="rectangle4">
          <a (click)="OnSubmit()">
            <div class="rectangleBtn" >
              <p class="login">Login</p>
            </div>
          </a>
        </div>
      </form>
    </div>
  </div>
</body>
