<div class="imageRemovebgPreview2"></div>
<div class="blurForBackground"><img src="assets/blur-for-background-icon.svg" alt="" class="icon" /></div>
<div class="achieveYourDesiredLifestyleWit">
  Achieve your desired lifestyle with Rocket Bills, a money management method designed to reduce financial stress.
</div>
<div class="retroLoginLogo"></div>
<div class="rectangle2"></div>
<div class="rectangle5"><img src="assets/rectangle-5-icon.svg" alt="" class="icon2" /></div>
<div class="login">Login</div>
<div class="keepMeLoggedIn">Keep me logged in</div>
<div class="rectangle4"></div>
<div class="forgotPassword">Forgot password?</div>
<div class="passwordForm"></div>
<div class="password">Password</div>
<div class="emailForm"></div>
<div class="emailAddress">Email address</div>
<div class="login2">Login</div>
<div class="bannerFrame"><div class="retroBills">Retro Bills</div></div>
