header{
  position: absolute;
  width: 100%;
  height: 130px;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(167, 2, 167), rgb(56, 2, 96));
  background-size: auto;
  display: flex;
  text-align: center;
  color: white;
  justify-content: space-evenly;
  padding: auto;
  margin: auto;
  box-shadow: 0px 10px 10px 0px #00000080;
}
.bannerFrame {
  position: absolute;
  left: -14px;
  right: 0;
  top: 0;
  height: 130px;
  flex-direction: column;
  align-items: flex-start;
  background-image: linear-gradient(90deg, #9e2cacff 11%, #3b2685ff 78%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  box-shadow: 0px 10px 10px 0px #00000080;
}
.retroBills {
  color: #fff;
  font-size: 96px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 60px;
  top: 0;
  width: 454px;
  height: 153px;
  flex-direction: column;
}
body {
  background-image: url('../../assets/assets/Homepage assets/retroWallpaper2.jpeg');
  background-repeat: no-repeat;
  background-position: center center; /* Center the background image */
  background-size: cover;
  background-color: aliceblue;
  height: 110vh;
  width: auto;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.blurForBackground {
  position: absolute;
  left: 0;
  top: 45%;
  width: auto;
  height: auto;
  padding: 20px;
}

.achieveYourDesiredLifestyleWit {
  color: #000;
  font-size: 25px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 80px;
  top: 800%;
  width: 814.2382px;
  height: 177px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-right: 3%;
  transform: translateY(-50%);
}
.retroLoginLogo {
  position: absolute;
  left: 1000%;
  top: -200%;
  width: 219px;
  height: 315px;
  background-image: url('/assets/retroSignupLogo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rectangleBox {
  position: absolute;
  right: 10%; /* Adjust to move the box horizontally */
  top: 60%; /* Adjust to move the box vertically */
  transform: translateY(-50%);
  width: 500px; /* Adjust the width as needed */
  padding: 30px;
  background-color: #602893; /* Background color */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow */
  outline: solid 5px #00d4d5;
}

.loginTitle {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.password,
.emailAddress {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.passwordForm,
.emailForm {
  margin-bottom: 20px;
}



.keepme {
  font-size: 16px;
  color: white;
}

.forgotPassword {
  position:absolute;
  left: 70%;
  top: 66%;
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rectangleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00d4d5; /* Button background color */
  color: #ffffff; /* Button text color */
  border-radius: 5px;
  cursor: pointer;
  padding-top: 20px;
}

.rectangleBtn p {
  font-size: 30px;
  font-weight: bold;
}


.error{
  font-size: 36px;
  font-family: Jua, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: red;
  position: absolute;
  left: 50%;
  top: 24%;
  width: 650px;
  height: 59px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

*{
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
}

.keepme {
  top: 55%;
  left: 30%;
  width: 400%;
  display: flex
}
.keepMeLoggedIn {
  color: #fff;
  font-size: 20px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -197px);
  top: calc(50% - -151px);
  width: 150px;
  height: 26px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
