:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.imageRemovebgPreview2 {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - -67px);
  height: 1180px;
  background-image: url('/assets/imageRemovebgPreview2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}
.blurForBackground {
  position: absolute;
  left: 0;
  top: calc(50% - -66px);
  width: 1361px;
  height: 1178px;
  overflow: visible;
  transform: translateY(-50%);
}
.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.achieveYourDesiredLifestyleWit {
  color: #522e81;
  font-size: 36px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 60px;
  top: calc(50% - -404px);
  width: 744px;
  height: 218px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.retroLoginLogo {
  position: absolute;
  left: 85px;
  top: calc(50% - 35px);
  width: 676px;
  height: 738px;
  background-image: url('/assets/retroLoginLogo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}
.rectangle2 {
  position: absolute;
  left: calc(50% - -386px);
  top: calc(50% - -0.5px);
  width: 748px;
  height: 803px;
  outline: solid 5px #00d4d5;
  outline-offset: -5px;
  border-radius: 9px;
  background-color: #602893;
  transform: translate(-50%, -50%);
}
.rectangle5 {
  position: absolute;
  left: calc(50% - -399.5px);
  top: calc(50% - -281.5px);
  width: 433px;
  height: 103px;
  overflow: visible;
  transform: translate(-50%, -50%);
}
.icon2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login {
  color: #00d4d5;
  font-size: 64px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -402px);
  top: calc(50% - -281px);
  width: 164px;
  height: 66px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.keepMeLoggedIn {
  color: #fff;
  font-size: 20px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -197px);
  top: calc(50% - -151px);
  width: 150px;
  height: 26px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.rectangle4 {
  position: absolute;
  left: calc(50% - -98px);
  top: calc(50% - -152px);
  width: 36px;
  height: 36px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.forgotPassword {
  color: #fff;
  font-size: 20px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -565.5px);
  top: calc(50% - -148.5px);
  width: 163px;
  height: 25px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.passwordForm {
  position: absolute;
  left: calc(50% - -380px);
  top: calc(50% - -67.5px);
  width: 616px;
  height: 69px;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.password {
  color: #fff;
  font-size: 36px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -234px);
  top: calc(50% - -1.5px);
  width: 308px;
  height: 47px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.emailForm {
  position: absolute;
  left: calc(50% - -380px);
  top: calc(50% - 80.5px);
  width: 616px;
  height: 69px;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.emailAddress {
  color: #fff;
  font-size: 36px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -246.5px);
  top: calc(50% - 143px);
  width: 349px;
  height: 56px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.login2 {
  color: #fff;
  font-size: 128px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -368px);
  top: calc(50% - 287px);
  width: 296px;
  height: 124px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.bannerFrame {
  position: absolute;
  left: -14px;
  right: 0;
  top: 0;
  height: 130px;
  flex-direction: column;
  align-items: flex-start;
  background-image: linear-gradient(90deg, #9e2cacff 11%, #3b2685ff 78%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  box-shadow: 0px 10px 10px 0px #00000080;
}
.retroBills {
  color: #fff;
  font-size: 96px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 60px;
  top: 0;
  width: 454px;
  height: 153px;
  flex-direction: column;
}
