.contact-form{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    width: auto;
    height: auto;

    background-color: #380260;
    border: 2px solid rgb(167, 2, 167);

    text-align: center;
    color: white;
    padding: 10px;
}

content {
  justify-content: center;
  left: 50%;

}

textarea{
    resize: none;
}
