<header>
    <img src="../../assets/assets/Homepage assets/retro_Money__1_RemovebgPreview.png" alt="Retro Bills Logo">
    <button class="link-button"(click)="OnHomeClicked()">Home</button>
    <button class="link-button" (click)="OnAboutClicked()">About
    </button>
    <button class="link-button" (click)="OnContactClicked()">Contact Us
    </button>
    <button class="link-button" (click)="OnSignUpClick()">Sign Up
    </button>
    <button class="link-button" (click)="OnLoginClick()">Login
    </button>
</header>
<div class="content">
    <div class="contact-form">
        <h2>Want to talk to us?</h2>
        <p>Leave your email and message below!</p>
        <form>
            <span><label>Email: </label><input type="email" placeholder="email@domain.com"/></span><br>
            <span><label>Message: </label><textarea placeholder="Your message..." cols="20"></textarea></span><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<footer>
    <img src="../../assets/assets/Homepage assets/retro_Money__1_RemovebgPreview.png" alt="">
    <span>Copyright &#169; 2024, Retro Bills. All Rights Reserved.</span>
</footer>
