.contact-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Set a fixed width for the form */
  background-color: #602893;
  border: 2px solid #00d4d5;
  text-align: center;
  color: white;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px; /* Add spacing between each field */
}

label {
  flex: 1; /* Take up equal space */
  text-align: right; /* Right-align the label text */
  margin-right: 10px; /* Add some space between label and input */
}

input,
textarea {
  flex: 2; /* Take up more space than the label */
  width: 100%; /* Fill the available space */
}
