.contact-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Set a fixed width for the form */
  max-width: 400px; /* Limit the maximum width of the form */
  background-color: #602893;
  border: 2px solid #00d4d5;
  text-align: center;
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to fill the viewport */
}

.contact-form span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px; /* Add spacing between each field */
}

.contact-form label {
  flex: 1; /* Take up equal space */
  text-align: right; /* Right-align the label text */
  margin-right: 10px; /* Add some space between label and input */
}

.contact-form input, textarea {
  flex: 2; /* Take up more space than the label */
  width: 100%; /* Fill the available space */
}

.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* Submit Button */
.contact-form button[type="submit"] {
  background-color: #00d4d5; /* Example color - match your theme */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.contact-form button[type="submit"]:hover {
  background-color: #00b9b9; /* Slightly darker on hover */
}

.contact-group {
  margin-bottom: 20px;
}

.contact-group h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-group p {
  color: #fff;
  margin: 5px 0;
}


.link-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  outline: none;
  color: white;
  transition: color 0.3s;
}

.link-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  transition: background-color 0.3s;
  z-index: -1; /* Behind the text */
}

.link-button:hover::before {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background on hover */
}

.link-button:hover {
  color: #00d4d5; /* Keep text color white on hover */
}

#active {
  background-color: #00d4d5;
  border-radius: 5px;
  color: white;
  /* Keep text color white on hover */
}
