<header>
  <!-- Desktop -->
  <img class="Logo" src="../../assets/assets/Homepage assets/retro_Money__1_RemovebgPreview.png" alt="Retro Bills Logo" />

  <button class="link-button" (click)="OnHomeClicked()">Home</button>
  <button class="link-button" (click)="OnAboutClicked()">
    About
  </button>
  <button id="active" class="link-button" (click)="OnContactClicked()">
    Contact Us
  </button>
  <button class="link-button" (click)="OnSignUpClick()">
    Sign Up
  </button>
  <button class="link-button" (click)="OnLoginClick()">
    Login
  </button>
</header>
<div class="content">
  <div class="contact-form">
    <h1>Contact Us</h1>
    <div class="contact-group">
      <h4>Backend Developer</h4>
      <p>RANDON CAHANIN</p>
      <p>C00454797&#64;.louisiana.edu</p> <!-- Using safe navigation operator -->
    </div>
    <div class="contact-group">
      <h4>Frontend Lead Developer</h4>
      <p>LOGAN BOGARD</p>
      <p>C00276054&#64;.louisiana.edu</p> <!-- Using safe navigation operator -->
    </div>
    <div class="contact-group">
      <h4>Frontend Developers</h4>
      <p>CAMERON RICHARD</p>
      <p>C00438250&#64;.louisiana.edu</p> <!-- Using safe navigation operator -->
      <p>PAUL CHU</p>
      <p>C00124175?.louisiana.edu</p> <!-- Using safe navigation operator -->
      <p>MICHAEL WOODS</p>
      <p>C00411741&#64;.louisiana.edu</p> <!-- Using safe navigation operator -->
    </div>
  </div>
</div>

<footer>
  <img class="Logo" src="../../assets/assets/Homepage assets/retro_Money__1_RemovebgPreview.png" alt="">
  <span>Copyright &#169; 2024, Retro Bills. All Rights Reserved.</span>
</footer>
