<header>
  <div class="bannerFrame">
    <a href="home">
      <div class="retroBills">Retro Bills</div>
    </a>
  </div>
</header>

<body>
  <div class="content">
    <div class="rectangle">
      <form [formGroup]="registrationForm" (ngSubmit)="OnSubmit()">
        <a (click)="OnSubmit()">
          <div class="rectangleBtn" >
            <div class="signupForFree" >Signup for Free</div>
          </div>
        </a>
      <div class="signupForFreeToday">Signup for free today</div>
      <div class="noCreditCardRequired">No credit card required!</div>
      <div class="firstName">First Name</div>
      <div class="firstNameForm">
        <input type="text" class="form-control" formControlName="FirstName" placeholder="" aria-label="First Name" aria-describedby="basic-addon1">
      </div>
      <div class="lastName">Last Name</div>
      <div class="lastNameForm">
        <input type="text" class="form-control" formControlName="LastName" placeholder="" aria-label="Last Name" aria-describedby="basic-addon1">
      </div>
      <div class="username">Username</div>
      <div class="usernameForm">
        <input type="text" class="form-control" formControlName="UserName" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="password">Password</div>
      <div class="passwordForm">
        <input type="password" class="form-control" formControlName="Password" placeholder="" aria-label="Password" aria-describedby="basic-addon1">
      </div>
      <div class="address">Address</div>
      <div class="addressForm">
        <input type="text" class="form-control" formControlName="Address" placeholder="" aria-label="Address" aria-describedby="basic-addon1">
      </div>
      <div class="email">Email</div>
      <div class="emailForm">
        <input type="email" class="form-control" formControlName="Email" placeholder="" aria-label="Email" aria-describedby="basic-addon1">
      </div>
      </form>
      <div class="byCreatingAnAccountYouAgreeToT">
        <p class="labelWrapper">
          <span class="label">
            By creating an account, you agree to the Rocket Bills Privacy Policy and Terms of Service;
          </span>
        </p>
      </div>
    </div>

    <div class="blurForBackgroundNoAbs">
      <img src="/assets/retroSignupLogo.png" alt="Retro Bills Logo">
      <div class="tryRocketBillsForFreeNoAbs">Try Rocket Bills for free!</div>
      <div class="achieveYourDesiredLifestyleWitNoAbs">
        Achieve your desired lifestyle with Rocket Bills, a money management method designed to reduce financial stress.
      </div>
    </div>

  </div>
</body>
