<div class="imageRemovebgPreview1"></div>
<div class="blurForBackground"><img src="assets/blur-for-background-icon.svg" alt="" class="icon" /></div>
<div class="retroSignupLogo"></div>
<div class="tryRocketBillsForFree">Try Rocket Bills for free!</div>
<div class="achieveYourDesiredLifestyleWit">
  Achieve your desired lifestyle with Rocket Bills, a money management method designed to reduce financial stress.
</div>
<div class="rectangle2"></div>
<div class="rectangle5"></div>
<div class="signupForFree">Signup for Free</div>
<div class="usernameForm"><img src="assets/username-form-icon.svg" alt="" class="icon2" /></div>
<div class="username">Username</div>
<div class="lastNameForm"><img src="assets/last-name-form-icon.svg" alt="" class="icon3" /></div>
<div class="lastName">Last Name</div>
<div class="addressForm"><img src="assets/address-form-icon.svg" alt="" class="icon4" /></div>
<div class="address">Address</div>
<div class="emailForm"><img src="assets/email-form-icon.svg" alt="" class="icon5" /></div>
<div class="email">Email</div>
<div class="firstNameForm"><img src="assets/first-name-form-icon.svg" alt="" class="icon6" /></div>
<div class="firstName">First Name</div>
<div class="passwordForm"><img src="assets/password-form-icon.svg" alt="" class="icon7" /></div>
<div class="password">Password</div>
<div class="byCreatingAnAccountYouAgreeToT">
  <p class="labelWrapper">
    <span class="label">
      By creating an account, you agree to the Rocket Bills Privacy Policy and Terms of Service&nbsp;
    </span>
    <span class="label2">Privacy</span>
  </p>
</div>
<div class="noCreditCardRequired">No credit card required!</div>
<div class="signupForFreeToday">Signup for free today</div>
<div class="bannerFrame"><div class="retroBills">Retro Bills</div></div>
