<header>
    <img src="../../assets/assets/Homepage assets/retro_Money__1_RemovebgPreview.png" alt="Retro Bills Logo">

    <button class="link-button" (click)="OnAboutClicked()">About
    </button>
    <button class="link-button" (click)="OnContactClicked()">Contact Us
    </button>
    <button class="link-button" (click)="OnSignUpClick()">Sign Up
    </button>
    <button class="link-button" (click)="OnLoginClick()">Login
    </button>
</header>
<div class="content">
    <div class="box">
        <h2>Our Mission</h2>
        <span>
            At RocketBills, our mission is to empower individuals on their journey towards financial wellness by harnessing the transformative capabilities of artificial intelligence. We believe that everyone deserves access to personalized, intuitive tools that facilitate smarter financial decision-making. Through our innovative AI-driven platform, we strive to provide actionable insights, personalized recommendations, and proactive solutions tailored to each user's unique financial situation. With RocketBills, our goal is to demystify finance, alleviate stress, and pave the way towards a brighter, more secure financial future for all.
        </span>
    </div>
</div>