/* Default styles */
body {
  background-image: url('../../assets/assets/Homepage assets/retroWallpaper2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
}

.noAccount{
  background-color: hsla(293, 59%, 42%, 1);
}
/*moves no transaction message*/
#noTransaction{
  position: relative;
  top: 30%;
  margin-left: 40%;
  font-size: 15pt;
  border: black 1px solid;
  color:white;
  background-color: hsla(293, 59%, 42%, 1);
  padding:2px;
  
  
}

.balance-container {
  flex: 1; /* Take up remaining space */
}

.add-transaction-container {
  margin-top: 2%; /* Move the button down */
  margin-right: 12%; /* Move the button to the left */
}

header {
  position: relative;
  width: 100%;
  height: 130px;
  background-image: linear-gradient(90deg, #9e2cacff 11%, #3b2685ff 78%);
  background-size: auto;
  display: flex;
  text-align: center;
  color: white;
  justify-content: space-evenly;
  padding: auto;
  margin: auto;
  box-shadow: 0px 10px 10px 0px #00000080;
}
.add-transaction-btn {
  margin: 5% auto; /* Center the button horizontally */
  display: block; /* Ensure the button is displayed as a block element */
  padding: 10px 20px;
  background-color: #3b2685ff;
  outline: solid 3px #00d4d5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-transaction-btn:hover {
  background-color: rgb(42, 24, 109);
}

.add-account-btn {
  margin: 5% auto; /* Center the button horizontally */
  display: block; /* Ensure the button is displayed as a block element */
  padding: 10px 20px;
  background-color: #3b2685ff;
  outline: solid 3px #00d4d5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-account-btn:hover {
  background-color: rgb(42, 24, 109);
}


.link-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  outline: none;
  color: white;
  transition: color 0.3s;
}

.link-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  transition: background-color 0.3s;
  z-index: -1; /* Behind the text */
}

.link-button:hover::before {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background on hover */
}

.link-button:hover {
  color: #00d4d5; /* Keep text color white on hover */
}

#active {
  background-color: #00d4d5;
  border-radius: 5px;
  color: white;
  /* Keep text color white on hover */
}

#dash {
  border-style: solid;
  height: 250px;
  background-color: white;
  width: 60%;
  margin: 0 auto;
  border-width: 5px;
  
}

#balance {
  background: hsla(181, 96%, 40%, 1);
  background: linear-gradient(90deg, hsla(181, 96%, 40%, 1) 0%, hsla(293, 59%, 42%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(181, 96%, 40%, 1) 0%, hsla(293, 59%, 42%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(181, 96%, 40%, 1) 0%, hsla(293, 59%, 42%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#04C4C7", endColorstr="#9E2CAC", GradientType=1 );
  width: 15em;
  height: 6em;
  margin: 20px auto;
  border-radius: 5px;
}

#balance, p {
  padding: 15px;
}

table, tr, th {
  width: 80%;
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 16pt;
}

#button {
  background-color: #301934;
  width: 13em;
  height: 6em;
  margin-left: 3%;
}

p, th {
  color: black;
  font-family: 'Jua';
}

p {
  color: white;
}

.dropdown {
  padding-top: 20px;
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  border: solid 3px #00d4d5;
  cursor: pointer;
  color:white;
  padding: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  min-width: 20px;
  height: 150px; /* Set a fixed height for the dropdown */
  overflow-y:auto; /* Enable vertical scrolling */
  color: black;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 10px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  body {
    padding-top: 20%;
  }
  #dash, #balance, #button {
    width: 95%;
    margin-left: 2.5%;
  }
  table, tr, th {
    width: 80%;
    margin-left: 2.5%;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding-top: 30%;
  }
  #dash, #balance, #button {
    width: 100%;
    margin-left: 0;
  }
  table, tr, th {
    width: 80%;
    margin-left: 2.5%;
  }
}
/*add lines to rows */
tr{
  border-bottom: grey 2px dotted;
  
}
