<header>
  <img src="../../assets/assets/Homepage assets/retro_Money__1_RemovebgPreview.png" alt="Retro Bills Logo"/>
  <button class="link-button" (click)="OnDashClick()">Dashboard</button>
  <button class="link-button" (click)="OnDetailedClick()">Detailed Transaction History</button>
  <button class="link-button" (click)="OnBudgetClick()">Budget</button>
  <button class="link-button" (click)="OnHomeClick()">Log Out</button>

  <!-- Add dropdown button -->
  <div class="dropdown">
    <button class="dropbtn">Switch Account</button>
    <div class="dropdown-content">
      <button *ngFor="let account of accounts" (click)="switchAccount(account)">{{ account.accountId }}</button>
    </div>
  </div>
</header>

<body>
  <div class="content">
    <div id="balance">
      <p>Shows actual balance</p>
    </div>

    <div id="dash">
      <table *ngIf="selectedAccount && selectedAccount.transactions">
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Transaction</th>
        </tr>
        <!-- Display transactions from selected account -->
        <ng-container *ngFor="let transaction of selectedAccount.transactions">
          <tr>
            <td>{{ transaction.TransactionDateTime }}</td>
            <td>{{ transaction.Amount }}</td>
            <td>{{ transaction.TransactionDescription }}</td>
          </tr>
        </ng-container>
      </table>
      <div *ngIf="selectedAccount ">
        SelectedAccount exist
      </div>
      <div *ngIf="selectedAccount?.transactions">
        No transactions found.
      </div>
    </div>
    

    <button class="add-transaction-btn" (click)="OnAddClick(selectedAccount!.accountId)">Add Transaction</button>
  </div>
</body>
