





<body>
<header>
    <div id="bar">
        <img src="\assets\image.png" alt="logo">
        <nav>
        <ul>
            <li> <button> sign out </button></li>
            <li> <button> budget page </button></li>
            <li>    <button> detailed report </button></li>
        </ul>
        </nav>
    </div>

</header>
<div id="balance">
    <p> shows actual balance</p>
</div>


<div id="dash">
    <table>
        <tr>
            <th> Date</th>
            <th>amount</th>
            <th>transaction</th>
        </tr>
    </table>

</div>

<div id="button">
<p>button for add transaction</p>
</div>


</body>




